*{
	padding:0;
	margin:0;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", 
	"Microsoft YaHei", 微软雅黑, "Open Sans", Arial, sans-serif;
	//border:1px solid red;
	list-style: none;

}
h1{
	font-size:36px;/*文字大小*/
	margin-bottom:20px;/*下边界值*/
}
h2{
	font-size:36px;
	margin-bottom:20px;
}
h3{
	font-size: 27px;
	text-align:center;
	padding:70px;
}
h4{
	font-size: 20px;
	text-align:right;/*文字右对齐*/  
	float: left;
	width:40%;
	margin-right:30px;
}
h5{
	font-size: 25px;

}
/*
*{margin: 0; padding: 0}的作用与利弊

1.*{margin: 0; padding: 0}的利处

使用*{margin: 0; padding: 0}可以简单方便的一次性重置所有HTML网页元素的浏览器样式，代码少，控制量大。

2.*{margin: 0; padding: 0}的弊处

用*，这样效率会低很多(据说)，因为它重置了所有元素的样式，包括不需要重置的样式，例如table ,
我们不需要去重置table元素的样式，所以还需要再为 table 设置默认样式,反而增加了代码量。而且通配符，需要把所有的标签都遍历一遍，
当网站较大时，样式比较多，这样写就大大的加强了网站运行的负载，会使网站加载的时候需要很长一段时间，因此一般大型的网站都有分层次
的一套初始化样式。如替代的写法：body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td,img {padding:0;margin:0;}
*/
.div1_type1{
	position:fixed;
	width:100%;
	height: 10%;
}
.ul_type1{
	list-style-type:none; /*不编号*/
	display: block;
	font-size: 20px;/*文字大小*/
    font-weight: 900;/*文字粗体*/
    font-family: "Open Sans", Arial, sans-serif; /*文字字体*/
	float: right;
	/*用于块之间的放置重叠，如果没有的话两个块之间的内容可能会重叠*/
	margin: 0;
	box-sizing: border-box;
	/*
	https://blog.csdn.net/qq_26780317/article/details/80736514?ops_request_misc=&request_id
	=&biz_id=102&utm_term=box-sizing:%20border-box;&utm_medium=distribute.pc_search_result.
	none-task-blog-2~all~sobaiduweb~default-0-80736514.nonecase&spm=1018.2226.3001.4187
	解释
	*/
    line-height: 100px; /*设置行高*/
	margin-right:20%; /*右边界值*/
}
.ul_type1>li{
	float: left;
    position: relative;
	margin-left: 20px;
}
.ul_type1>li>a{
	padding: 0 15px;
	display: inline-block;
    line-height: 1;
	text-decoration: none;
	color:#7a7a7a;
}
.ul_type1>li>a:hover{
	color:#fff;
}
.div2_type1{
	background-image:url(picture/xin4.jpg);
	height:700px;
	overflow:hidden;/* 防止父元素高度塌陷 */
	background-size:cover;
}
.div2_type2{
	width: 1100px;
	padding-top: 250px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.p1_type1{
	font-size: 27px;
	width:1000px;
}
.div3_type1{        
	display: inline-block;
	width: 100%;/*一个大块的大小，后面的块要按照要求设置*/
	height:500px;
}
.div3_type2{
	box-sizing: border-box;
	float: left;
	/*用于块之间的放置重叠，如果没有的话两个块之间的内容可能会重叠*/
	width:50%;
	height:500px;
    background: #C0C0C0;
	border-bottom: 1px solid #e2e9f0;/*下框线*/
	border-right:1px solid #e2e9f0;/*右框线*/
}
.div3_type3{
    width: 50%;
	height:100%;
    overflow: hidden;/*溢出隐藏*/
	padding-top:50px;/*上边框留空白*/
	padding-left:40%;/*左边框留空白*/
	padding-right:10%;/*右边框留空白*/
}
.div3_type4{
	float:right;
	/*用于块之间的放置重叠，如果没有的话两个块之间的内容可能会重叠*/
	height:50%;
	left:20px;
}
.p2_type2{
	margin-top:50px;/*上边界*/
	max-width:500px;
}
.div3_type5{
	height:50%;
	float:right;
}
.div3_type21{
	box-sizing: border-box;
	float: left;
	background: #C0C0C0;
	width:50%;
	height:100%;
	border-bottom: 1px solid #e2e9f0;
}
.div3_type211{
    width: 50%;
	height:100%;
    overflow: hidden;
	padding-top:50px;
	padding-right:40%;
	padding-left:10%;
}
.div3_type212{
	float:right;
	/*用于块之间的放置重叠，如果没有的话两个块之间的内容可能会重叠*/
	height:50%;
	left:20px;
}
.div4_type1{
	padding-left:400px; /*左边框留空白*/
	height:700px;
	overflow:hidden;
	background-size:cover;
	max-width:500px;
	float: left;
}
.p3_type3{
	float:left;
	max-width:500px;
	float: left;
}
.li_type1{
	padding-bottom:70px;
}

.div5_type1{
	padding-top:20px;/*上边框留空白*/
	background:#212121;
	height:100px;
}
.p4_type4{
	text-align:center;/*文字居中对齐*/
	color:#aaa;
}
#w{
	color:#fff;
}
